@import 'variables';

.eleccion{
 display: flex;
 justify-content: space-around;
 width: 100%;     
 background-color: $color-primary;     
 height: auto;       
 margin: 25rem auto 0rem;    
 .container_logo{
  width: 90%;    
  .img_eleccion{
     width: 100%; 
     height: auto;   
  }

 .btn_contacto{     
    width: 16rem;                                
    height: 5.5rem;                         
    border: 3px solid #09aff4;                                  
    border-radius: 0 1rem;                              
    color: #09aff4;
    font-size: 1.4rem;     
    margin: 9rem auto;
    text-align: center;
    transition: background-color 1s;                
    &:hover{
      background-color: #09aff4; 
      color: #fff;                         
    }  

   .parrafo_contacto{
    margin: .5rem auto;
    cursor: pointer; 
   }
 }
}

 .container_eleccion{
  width: 90%;     
  background-color: $color-primary;   
  color: #fff;
  .span_elejir{            
   display: block;
   text-align: center;            
   font-size: 2.2rem;
   font-weight: 600;
   color: #09aff4;
   margin: 2rem auto;
   margin-bottom: 5rem;
   text-transform: uppercase;
  }
  .h2_elejir{        
  font-size: 4.5rem;          
  padding-left: 1.5rem;
  line-height: normal;        
  }
  .p_elejir{            
    margin: 1.5rem;          
    font-size: 2rem;
    line-height: 1.4;
  }
  .info_item{
    display: flex;
    width: 95%;
    margin: 0 auto;
    margin: 2.5rem auto;           
    .span_info_item{
        color: #09aff4;                
        font-size: 5rem;                   
        margin-right: 2rem;       
    }

  .container_info{                
   .h5_info_item{                            
   font-size: 2.2rem;                                      
   }
   .p_info_item{
    margin-top: 1rem;                  
    font-size: 1.9rem;                    
    line-height: normal;
    }
    } 
    }

.btn_saber_mas{
    display: inline-block;
    align-items: center;          
    width: 30%;                                  
    height: 5rem;                         
    border: 3px solid #09aff4;                                  
    border-radius: 0 1rem;                              
    color: #09aff4;                
    font-size: 2.1rem;     
    text-decoration: none;
    margin-left: 30%;
    margin-top: 6rem;
    text-align: center;       
    transition: background-color 1s;                            
    &:hover{
     background-color: #09aff4; 
     color: #fff;                         
    }  
  }
 }    
}

@media (max-width: 600px){
 .eleccion{
  margin: 0 auto;   
  flex-direction: column;
  .container_logo{
   width: 100%;       
   .btn_contacto{  
    width: 95%;
 }
}

.container_eleccion{
 width: 100%;
 .span_elejir{   
     width: 100%;
     margin: 1.5rem auto;
     text-align: center;
     font-size: 2rem; 
     font-weight: 400;
 }
.h2_elejir{        
    font-size: 3rem;   
    padding-left: 0;
    text-align: center;
    font-weight: 400;            
  }
  .p_elejir{            
    margin: 3rem .8rem;          
    font-size: 1.8rem;           
   }
   .info_item{           
    flex-direction: column;
    .span_info_item{
      text-align: center;  
      font-size: 4rem;               
    }
     .container_info{           
      padding-left: 1rem;
      height: auto;
         padding-bottom: 2rem;
         }
     }
     .btn_saber_mas{
         margin: 0 auto;  
         width: 100%;           
          }
      }     
    }
}

@media (max-width: 768px){
.eleccion{       
 flex-direction: column;
 .container_logo{
 width: 100vw;
 }
 .container_eleccion{
     width: 100%;
     .btn_saber_mas{              
       width: 95%; 
       margin-left: 1.5rem;                       
     }
    }        
 }
}

@media (min-width: 769px){
 .eleccion{  
 .container_eleccion{    
   .btn_saber_mas{    
    width: 60%;   
    margin-left: 10rem;              
    }
  } 
}
}