@import 'variables';

.seccion_servicios{
    display: flex;
    justify-content: space-around; 
    background-color: $color-primary;   
    height: 65vh;
    margin: 0 auto;
    padding-bottom: 3rem;    
    .box_servicios{
        color: #fff;       
        width: 65%;
        margin-top: 3rem;       
        height: 30rem;       
        .span_servicios{
            text-transform: uppercase;
            color: #09aff4;     
        }
        .h2_servicios{
            margin-top: 1rem;          
            font-size: 4.5rem;          
        }
        .parrafo_servicios{           
            margin-top: 2rem;                  
            font-size: 2rem;          
            font-weight: 300;  
            line-height: 2.7rem;          
            color: #00fca8ee;
            font-family: 'Lato', sans-serif;
            .design{
                color: #09aff4;  
            }
            .zavan{
                color: #fff; 
            }
        }
    }

    .btn_servicios{       
        width: 25rem;                               
        height: 6rem;                         
        border: 3px solid #09aff4;                                  
        border-radius: 0 2rem;                              
        color: #09aff4;
        font-size: 1.4rem;       
        margin-top: 7.5rem;
        text-align: center;
        transition: background-color 1s;
        .parrafo_start{
            margin: .5rem auto;           
            cursor: pointer;     
        }
        &:hover{
            background-color: #09aff4; 
            color: #fff;                         
        }  
    }
}

@media (max-width: 600px){
    .seccion_servicios{
        height: auto;       
        flex-direction: column;
        font-size: 1.5rem;       
        .box_servicios{
            width: 100%;
            height: auto;                   
           .h2_servicios{           
            font-size: 3.7rem;
            text-align: center;
         }
        }
        .btn_servicios{ 
            width: 95%;
            margin: 5rem auto;          
        }
    }
}

@media (max-width: 768px){
    .seccion_servicios{      
        display: flex;
        flex-direction: column;
        height: auto;     
        align-items: center;
        justify-content: space-around;
        .box_servicios{
            width: 90%;         
            height: auto;            
        }
    }
}

@media (min-width: 769px) and (max-width: 992px){
    .seccion_servicios{         
        height: auto;
        .box_servicios{         
          height: auto;          
        }  
    }
}